h1{
    color: rgb(40, 103, 128);
    font-size: 80px;
    font-size: 2rem 
}
body{
    text-align: left;
    padding: 50px;
    overflow-y: scroll;
}
input{
    padding: 4px 6px;
    margin: 10px 0;
}
label{
    display: inline-block;
    width: 80px;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
    padding: 3px;
    background-color: rgb(180, 217, 209);
    border: 1px solid #000;
}
.page-header{
    border-bottom: 4px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.reserved { 
    background-color: #ffe0e0;
    font-size: 2rem;
}
.available { 
    background-color: #f0f0f0; 
    color: #000000ff;
    font-size: 2rem;
}
#container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    max-height: 400px;     
    overflow-y: auto;  
    border: 1px solid #ccc;
    margin-top: 10px;
    text-align: center;
}
footer{
    border-top: 4px solid #333;
    padding: 10px;
    margin: 20px;
}
#scheduleTable {
    width: 100%;
    text-align: center;
}